{% extends "base_generic.html" %}

{% block content %}
    <h1>JOE Green Panel With Hollow</h1>
    <br>
    <h3><a name="section1"><u>LIGHT WEIGHT PRECAST WITH HOLLOW CORE</u></a></h3>
    <table>
        <tr>
            <th>PRODUCT CODE</th>
            <th>DESCRIPTION</th>
            <th>MAXIMUM HEIGHT</th>
            <th>Weight/m2</th>
            <th>REMARKS</th>
        </tr>
        <tr>
            <td><b>NON-WIRED PANEL (WIDTH 600mm)</b></td>
        </tr>
        <tr>
            <td>P070/40/8</td>
            <td>Panel 70mm Dia 40 Core 08</td>
            <td>3300 mm</td>
            <td>103</td>
            <td>Skimcoat 3-5mm Both sides = 1 Hour</td>
        </tr>
        <tr>
            <td>P075/40/8</td>
            <td>Panel 75mm Dia 40 Core 08</td>
            <td>3300 mm</td>
            <td></td>
            <td>Skimcoat 3-5mm Both sides = 1 Hour</td>
        </tr>
        <tr>
            <td>P080/40/8</td>
            <td>Panel 80mm Dia 40 Core 08</td>
            <td>3300 mm</td>
            <td>122</td>
            <td>Skimcoat 3-5mm Both sides = 1 Hour</td>
        </tr>
        <tr>
            <td>P090/58/7</td>
            <td>Panel 90mm Dia 58 Core 07</td>
            <td>3300 mm</td>
            <td>114</td>
            <td>Skimcoat 3-5mm Both sides = 1 Hour</td>
        </tr>
        <tr>
            <td>P100/64/7</td>
            <td>Panel 100mm Dia 64 Core 07</td>
            <td>3300 mm</td>
            <td>124</td>
            <td>Skimcoat 3-5mm Both sides = 1.5 Hour</td>
        </tr>
        <tr>
            <td>P100/40/7</td>
            <td>Panel 100mm Dia 40 Core 07</td>
            <td>3300 mm</td>
            <td>165</td>
            <td>Skimcoat 3-5mm Both sides = 2 Hours</td>
        </tr>
        <tr>
            <td>P150/40/16</td>
            <td>Panel 150mm Dia 40 Core 16</td>
            <td>3300 mm</td>
            <td>255</td>
            <td>Skimcoat 3-5mm Both sides = 4 Hours</td>
        </tr>
        <tr>
            <td>P200/64/14</td>
            <td>Panel 200mm Dia 64 Core 14</td>
            <td>3300 mm</td>
            <td>366</td>
            <td>Basing on 150mm</td>
        </tr>
        <tr>
            <td><b>WIRED 3.00 PANEL (WIDTH 600mm)</b></td>
        </tr>
        <tr>
            <td>P090/58/7/W</td>
            <td>Panel 90mm Dia 58 Core 07 Wired 3.0mm</td>
            <td>4500 mm</td>
            <td>116</td>
            <td></td>
        </tr>
        <tr>
            <td>P100/64/7/W</td>
            <td>Panel 100mm Dia 64 Core 07 Wired 3.0mm</td>
            <td>5200 mm</td>
            <td>126</td>
            <td></td>
        </tr>
        <tr>
            <td>P100/40/7/W</td>
            <td>Panel 100mm Dia 40 Core 07 Wired 3.0mm</td>
            <td>6000 mm</td>
            <td>167</td>
            <td></td>
        </tr>
        <tr>
            <td>P150/40/16/W</td>
            <td>Panel 150mm Dia 40 Core 16 Wired 3.0mm</td>
            <td>6000 mm</td>
            <td>257</td>
            <td></td>
        </tr>
        <tr>
            <td>P200/64/14/W</td>
            <td>Panel 200mm Dia 64 Core 14 Wired 3.0mm</td>
            <td>6000 mm</td>
            <td>369</td>
            <td></td>
        </tr>
        <tr>
            <td><b>NON-WIRED PANEL (CUSTOMIZED WIDTH)</b></td>
        </tr>
        <tr>
            <td>P075/40/0/75Width</td>
            <td>Panel 75mm Dia 40 Core 0 W75</td>
            <td>3300 mm</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>P075/40/2/200Width</td>
            <td>Panel 75mm Dia 40 Core 2 W200</td>
            <td>3300 mm</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>P080/40/1/80Width</td>
            <td>Panel 80mm Dia 40 Core 1 W80</td>
            <td>3300 mm</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>P080/40/2/200Width</td>
            <td>Panel 80mm Dia 40 Core 2 W200</td>
            <td>3300 mm</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>P090/40/1/90Width</td>
            <td>Panel 90mm Dia 40 Core 1 W90</td>
            <td>3300 mm</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>P090/40/2/200Width</td>
            <td>Panel 90mm Dia 40 Core 2 W200</td>
            <td>3300 mm</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>P0100/40/1/100Width</td>
            <td>Panel 100mm Dia 40 Core 1 W100</td>
            <td>3300 mm</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>P0100/40/2/200Width</td>
            <td>Panel 100mm Dia 40 Core 2 W200</td>
            <td>3300 mm</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td><b>L-JOINT PANEL</b></td>
        </tr>
        <tr>
            <td>P075/40/5/L</td>
            <td>Panel 75mm Dia 40 Core 05 Type L-Joint</td>
            <td>3300 mm</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>P080/40/5/L</td>
            <td>Panel 80mm Dia 40 Core 05 Type L-Joint</td>
            <td>3300 mm</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>P090/58/4/L</td>
            <td>Panel 90mm Dia 58 Core 04 Type L-Joint</td>
            <td>3300 mm</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>P0100/64/4/L</td>
            <td>Panel 100mm Dia 64 Core 04 Type L-Joint</td>
            <td>3300 mm</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>P0150/40/10/L</td>
            <td>Panel 150mm Dia 40 Core 10 Type L-Joint</td>
            <td>3300 mm</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>P0200/64/8/L</td>
            <td>Panel 200mm Dia 64 Core 08 Type L-Joint</td>
            <td>3300 mm</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td><b>T-JOINT PANEL</b></td>
        </tr>
        <tr>
            <td>P075/40/5/T</td>
            <td>Panel 75mm Dia 40 Core 05 Type T-Joint</td>
            <td>3300 mm</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>P080/40/5/T</td>
            <td>Panel 80mm Dia 40 Core 05 Type T-Joint</td>
            <td>3300 mm</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>P090/58/4/T</td>
            <td>Panel 90mm Dia 58 Core 04 Type T-Joint</td>
            <td>3300 mm</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>P0100/64/4/T</td>
            <td>Panel 100mm Dia 64 Core 04 Type T-Joint</td>
            <td>3300 mm</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>P0150/40/10/T</td>
            <td>Panel 150mm Dia 40 Core 10 Type T-Joint</td>
            <td>3300 mm</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>P0200/64/8/T</td>
            <td>Panel 200mm Dia 64 Core 08 Type T-Joint</td>
            <td>3300 mm</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td><b>SPECIAL PANELS</b></td>
        </tr>
        <tr>
            <td><b>LONG PANELS (WIDTH 600mm)</b></td>
        </tr>
        <tr>
            <td>P0100/40/7/W4.5</td>
            <td>Panel 100mm Dia 40 Core 07 Wired 4.5mm</td>
            <td>6400mm</td>
        </tr>
        <tr>
            <td><b>GROOVE LINE PANEL (WIDTH 600mm)</b></td>
        </tr>
        <tr>
            <td>P0100/40/7/Groove T1</td>
            <td>Panel 100mm Dia 40 Core 07 Groover T1</td>
            <td>3300 mm</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>P0100/40/7/Groove T2</td>
            <td>Panel 100mm Dia 40 Core 07 Groover T2</td>
            <td>3300 mm</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>P0100/40/7/Groove T3</td>
            <td>Panel 100mm Dia 40 Core 07 Groover T3</td>
            <td>3300 mm</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td><b>NEW MODEL:</b></td>
            <td>Dimension code as per above..</td>
        </tr>
        <tr>
            <td>X0100/...</td>
            <td>X1 Panel 100mm...</td>
            <td></td>
            <td></td>
            <td>X = X1 Model</td>
        </tr>
        <tr>
            <td>Y0100/...</td>
            <td>Y1 Panel 100mm....</td>
            <td></td>
            <td></td>
            <td>Y = Y1 Model</td>
        </tr>
    </table>
{% endblock %}