{% extends "base_generic.html" %}

{% block content %}
    <h1>JOE Green Solid Panel</h1>
    <br>
    <h3><a name="section3"><u>SOLID PANEL</u></a></h3>
    <table>
        <tr>
            <th>PRODUCT CODE</th>
            <th>DESCRIPTION</th>
            <th>MAXIMUM HEIGHT</th>
            <th>Weight/m2</th>
            <th>REMARKS</th>
        </tr>
        <tr>
            <td><b>NON-WIRED PANEL (WIDTH 600mm)</b></td>
        </tr>
        <tr>
            <td>P070/0/0/S</td>
            <td>Panel 70mm Solid Core</td>
            <td>3300 mm</td>
            <td>161</td>
            <td></td>
        </tr>
        <tr>
            <td>P075/0/0/S</td>
            <td>Panel 75mm Solid Core</td>
            <td>3300 mm</td>
            <td>173</td>
            <td></td>
        </tr>
        <tr>
            <td>P080/0/0/S</td>
            <td>Panel 80mm Solid Core</td>
            <td>3300 mm</td>
            <td>184</td>
            <td></td>
        </tr>
        <tr>
            <td>P090/0/0/S</td>
            <td>Panel 90mm Solid Core</td>
            <td>3300 mm</td>
            <td>207</td>
            <td></td>
        </tr>
        <tr>
            <td>P100/0/0/S</td>
            <td>Panel 100mm Solid Core</td>
            <td>3300 mm</td>
            <td>230</td>
            <td></td>
        </tr>
        <tr>
            <td>P150/0/0/S</td>
            <td>Panel 150mm Solid Core</td>
            <td>3300 mm</td>
            <td>345</td>
            <td></td>
        </tr>
        <tr>
            <td>P200/0/0/S</td>
            <td>Panel 200mm Solid Core</td>
            <td>3300 mm</td>
            <td>460</td>
            <td></td>
        </tr>
        <tr>
            <td><b>WIRED 3.00 PANEL (WIDTH 600mm)</b></td>
        </tr>
        <tr>
            <td>P090/0/0/W/S</td>
            <td>Panel 90mm Solid Wired 3.00 mm</td>
            <td>4500 mm</td>
            <td>209</td>
            <td></td>
        </tr>
        <tr>
            <td>P100/0/0/W/S</td>
            <td>Panel 100mm Solid Wired 3.00 mm</td>
            <td>5200 mm</td>
            <td>232</td>
            <td></td>
        </tr>
        <tr>
            <td>P150/0/0/W/S</td>
            <td>Panel 150mm Solid Wired 3.00 mm</td>
            <td>6000 mm</td>
            <td>347</td>
            <td></td>
        </tr>
        <tr>
            <td>P200/0/0/W/S</td>
            <td>Panel 200mm Solid Wired 3.00 mm</td>
            <td>6000 mm</td>
            <td>462</td>
            <td></td>
        </tr>
    </table>
{% endblock %}